html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
	background-color: #f9f9f9;
}

main {
	width: 960px;
	margin: 0 auto;
}

h3 {
	margin: 65px 0 30px;
}

article {
	width: 470px;
	float: left;
}

	ul {
		padding-left: 0;
	}

	li {
		list-style-type: none;
	}

	#empty {
		color: #8993ad;
		margin-top: 75px;
	}

	.item {
		width: 470px;
		background-color: white;
		padding-top: 15px;
		margin-top: 20px;
	}

		.item-title {
			margin: 0 0 15px 20px;
		}

		.item-clear {
			margin-left: 15px;
			background: none;
			border: none; 
		}

		.item-hide {
			float: right;
			margin-right: 14px; 
			background: none;
			border: none; 
		}

		.item-dscrpt {
			border-top: 1px solid #f7f7f7;
			padding: 10px 0 60px 20px;
			font-size: 14px;
			color: #8993ad;
		}

aside {
	width: 470px;
	float: right;
}

	form {
		height: 485px;
		width: 430px;
		background-color: white;
		padding: 50px 0 0 40px;  
	}

		p {
			font-size: 14px;
			color: #8993ad;
			margin: 0 0 10px;
		}

		#title {
			width: 375px;
			height: 40px;
			border: 1px solid #ebebeb;
			background-color: #fcfcfc;
			margin-bottom: 27px;
			padding-left: 14px;
			font-size: 16px;
		}

		#dscrpt {
			width: 375px;
			height: 210px;
			border: 1px solid #ebebeb;
			background-color: #fcfcfc;
			margin-bottom: 25px;
			padding: 14px 0 1px 14px;
			font: normal 16px Arial;
			resize: none;
		}

		#add-button {
			width: 224px;
			height: 55px;
			font-size: 16px;
			background-color: #2174fd;
			border: none;
			color: #ffffff;
			margin-bottom: 35px;
		}
